
/*
 * Section Style
*/

main {
	.section-1 {
		background-color: $bg-color-dark-blue;
		color: white;


		.linkBtn {
			background-color: $bg-color-light-blue;
			color: black;
			background-image: url("../images/search-icon.png");
			background-repeat: no-repeat;
			background-size: auto 88%;
			background-position: right center;
			font-weight: bolder;
		}

		.headline {
			font-size: 2.5rem;

			@include media-breakpoint-up(xl) {
				font-size: 3rem;
			}

			@include media-breakpoint-down(md) {
				font-size: 2rem;
			}
			@include media-breakpoint-down(sm) {
				font-size: 2.5rem;
			}
		}

		.joinUsLink {
			font-family: $font-family-heading;
			color: $text-light-blue-color;

			font-size: 2.5rem;

			@include media-breakpoint-up(xl) {
				font-size: 3rem;
			}

			@include media-breakpoint-down(md) {
				font-size: 2rem;
			}
			@include media-breakpoint-down(sm) {
				font-size: 2.5rem;
			}
		}

		.extendedPortion {
			height: auto;
			width: 105%;
			z-index: 10;
			position: relative;

			img {
				height: auto;
				width: 100%;
			}
			@include media-breakpoint-up(xl) {
				width: 110%;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}

		.motoPortion {
			width: 110%;
			height: 165%;
			position: absolute;
			top: 0;
			left: 25%;
			background: #40d1d6;
			color: white;
			z-index: 5;

			@include media-breakpoint-down(sm) {
				left: 45%;
			}

			@include media-breakpoint-down(xs) {
				display: none;
			}

			h2 {
				text-align: center;
				bottom: 10%;
				position: absolute;
				left: 15%;

				@include media-breakpoint-down(lg) {
					bottom: 5%;
				}
				@include media-breakpoint-down(md) {
					bottom: 0;
					left: 6%;
				}
				@include media-breakpoint-down(sm) {
					left: 3%;
				}
			}
		}
	}
}