
/*
 * Section Style
*/

main {
	.section-5 {
		padding-top: 10rem;
		padding-bottom: 7rem;

		.container {
			position: relative;
		}

		.bgGlobe {
			background-image: url("../images/globle.png");
			width: 200px;
			height: 170%;
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			top: -31%;
			right: -200px;
			z-index: 0;
		}
	}
}