
/*
 * Base style
*/
html {
	overflow-x: hidden;
}
body {
	background: #fff;
	font-family: $font-family-main;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: #fff;
	cursor: pointer;

	&:hover {
		color: #fff;
	}
}
a:not([href]):not([tabindex]) {
	color: #fff;
	text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
	color: #fff;
	text-decoration: underline;
}

.lightGreenBg {
	background-color: $bg-color-light-green;
}
.drakGreenBg {
	background-color: $bg-color-dark-green;
}
.lightBlueTxt {
	color: $text-light-blue-color;
	&:hover {
		color: $text-light-blue-color;
	}
}

.greyTxt {
	color: $text-grey-color;
	&:hover {
		color: $text-grey-color;
	}
}

.whiteTxt {
	color: white;
}
.container-fluid {
	max-width: 1440px;
}
.darkGreenTxt {
	color: $bg-color-light-green;
}

.fs-3 {
	font-size: 3rem;
}

.link {
	text-transform: uppercase;
	font-size: 14px;

	&.sm-link {
		font-size: 12px;
	}
}

.text-underline {
	text-decoration: underline;
}